{
  "openapi": "3.0.3",
  "info": {
    "version": "0.0.1",
    "title": "Thinkmay SDK",
    "description": "Thinkmay is simplify Cloud-PC. Unlock the power of your Cloud-PC from anywhere, anytime, and any devices\n\nHere is our API. To make it easy to use our main service: \n- list all worker status \n- create worker remote session\n- deactivate worker remote session\n- show analytics worker session and remote session\n\nSome useful links:\n- [What is Thinkmay?](https://www.notion.so/thinkonmay/What-is-Thinkmay-57ef5071a5cc4d638584877f42957c34)",
    "contact": {
      "email": "huyhoangdo@contact.thinkmay.net"
    }
  },
  "servers": [
    {
      "url": "https://supabase.thinkmay.net",
      "description": "Identity Server API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/functions/v1/worker_profile_fetch": {
      "post": {
        "tags": [
          "worker_profile_fetch"
        ],
        "summary": "Fetch All Worker Status",
        "description": "Get all status info of worker from your side.",
        "operationId": "worker_profile_fetch",
        "parameters": [
          {
            "name": "api_key",
            "in": "header",
            "description": "an authorization header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "**wait_for** [optional]: if **wait_for** option exist, it will wait for a worker with specific public and private ip, after 3 minutes if the worker not exist, it will return a timeout message. \n\nOtherwise, it will return **{'target':[WorkerProfile]}**\n\nExample:\n**{\n  \"use_case\": \"sdk\",\n  \"wait_for\": {\n    \"worker\": {\n      \"public_ip\": \"144.14.xx.xx\",\n      \"private_ip\": \"192.168.xx.xx\"\n    }\n  }\n}**",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "use_case": {
                    "type": "string",
                    "example": "sdk"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Worker"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/functions/v1/worker_session_create": {
      "post": {
        "tags": [
          "worker_session_create"
        ],
        "summary": "Create the remote session to worker",
        "description": "You can use public, private ip or worker_ip to look up the worker for start remote session",
        "operationId": "worker_session_create",
        "parameters": [
          {
            "name": "api_key",
            "in": "header",
            "description": "an authorization header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "You can choose between creating a new session with a worker specified by worker id, or creating a new session with a worker specify by public / private ip by using **worker_id** or **public_ip**  + **private_ip**",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "worker_id": {
                    "type": "integer",
                    "example": 123
                  },
                  "public_ip": {
                    "type": "string",
                    "example": "103.168.xx.xx"
                  },
                  "private_ip": {
                    "type": "string",
                    "example": "192.168.xx.xx"
                  },
                  "reference_email": {
                    "type": "string",
                    "example": "test@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "succesful operation",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "url": {
                      "type": "string",
                      "example": "https://remote.thinkmay.net/?ref=ZTA2NGNhMGMtMjhmZS00YmZhLTkwYzktMmYXXXXXXXX"
                    },
                    "session_id": {
                      "type": "integer",
                      "example": 2058
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/functions/v1/worker_session_deactivate": {
      "post": {
        "tags": [
          "worker_session_deactivate"
        ],
        "summary": "Deactive the remote session with session id",
        "operationId": "worker_session_deactivate",
        "parameters": [
          {
            "name": "api_key",
            "in": "header",
            "description": "an authorization header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "worker_session_id": {
                    "type": "string",
                    "example": "1085"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "succesful operation"
          }
        }
      }
    },
    "/functions/v1/analytics": {
      "post": {
        "tags": [
          "analytics"
        ],
        "summary": "Fetch all remote session of worker, user.",
        "description": "The analytics method to get the logging, number of session is created, number of hours being played, etc.. from your side",
        "operationId": "analytics",
        "parameters": [
          {
            "name": "api_key",
            "in": "header",
            "description": "an authorization header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analytics"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "YOUR_AUTHENTICATION_KEY"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Access token is missing or invalid"
      }
    },
    "schemas": {
      "Analytics": {
        "type": "object",
        "properties": {
          "formatted": {
            "type": "string",
            "example": "\"formatted\": \"\\nDaily report Wed Sep 27 2023\\n\\n---------------------------\\nremote time\\nRemoteTime:\\n  - account_id: 1cf60a1e-0ed9-418a-b1cb-84ac580848c4\\n    at: 'Tue, 26 Sep 2023 14:34:19 GMT'\\n    total_min: 7\\n  - account_id: 078a0f4b-7d10-45c6-a2d4-aca1bd2a9c6b\\n    at: 'Tue, 26 Sep 2023 14:41:35 GMT'\\n    total_min: 2\\n  - account_id: 078a0f4b-7d10-45c6-a2d4-aca1bd2a9c6b\\n    at: 'Tue, 26 Sep 2023 15:01:19 GMT'\\n    total_min: 41\\n  - account_id: 078a0f4b-7d10-45c6-a2d4-aca1bd2a9c6b\\n    at: 'Tue, 26 Sep 2023 19:05:16 GMT'\\n    total_min: 2\\n  - account_id: 078a0f4b-7d10-45c6-a2d44-aca1bd2a9c6b\\n    at: 'Wed, 27 Sep 2023 05:03:35 GMT'\\n    total_min: 3\\n\\n\\nTOTAL: 97 minutes\\n\\n21 remote session which last less than 1 min\\n---------------------------\\nworker time\\nWorkerTime:\\n  - id: 34.95.192.139 10.158.0.179 NVIDIA Tesla T4\\n    at: 'Tue, 26 Sep 2023 21:41:16 GMT'\\n    ended_at: 'Wed, 27 Sep 2023 03:30:47 GMT'\\n    total_min: 350\\n  - id: 34.95.252.241 10.158.0.25 NVIDIA Tesla T4\\n    at: 'Tue, 26 Sep 2023 21:44:47 GMT'\\n    ended_at: 'Wed, 27 Sep 2023 03:34:18 GMT'\\n    total_min: 350\\n  - id: 34.95.252.241 10.158.0.3 NVIDIA Tesla T4\\n    at: 'Tue, 26 Sep 2023 22:03:05 GMT'\\n    ended_at: 'Wed, 27 Sep 2023 03:52:36 GMT'\\n    total_min: 350\\n\\n\\nTOTAL: 88670 minutes\\n---------------------------\\n\","
          },
          "raw_data": {
            "type": "object",
            "properties": {
              "remote_times": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "account_id": {
                      "type": "string",
                      "example": "1cf60a1e-0ed9-418a-b1cb-xxxxxx"
                    },
                    "at": {
                      "type": "string",
                      "example": "Tue, 26 Sep 2023 14:43:34 GMT"
                    },
                    "total_min": {
                      "type": "integer",
                      "example": 10
                    }
                  }
                }
              },
              "worker_times": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "20.226.xx.xx 10.11.xx,xx NVIDIA Tesla T4"
                    },
                    "at": {
                      "type": "string",
                      "example": "Tue, 26 Sep 2023 14:43:34 GMT"
                    },
                    "ended_at": {
                      "type": "string",
                      "example": "Wed, 27 Sep 2023 03:30:47 GMT"
                    },
                    "total_min": {
                      "type": "integer",
                      "example": 10
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Worker": {
        "type": "object",
        "properties": {
          "proxy_profile_id": {
            "type": "integer",
            "example": 139
          },
          "worker_profile_id": {
            "type": "integer",
            "example": 139
          },
          "inserted_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_check": {
            "type": "string",
            "format": "date-time"
          },
          "hard_ware": {
            "type": "object",
            "properties": {
              "CPU": {
                "type": "string",
                "example": "Intel(R) Xeon(R) CPU E5-2680 v4 @ 2.40GHz"
              },
              "RAM": {
                "type": "string",
                "example": "16383Mb"
              },
              "BIOS": {
                "type": "string",
                "example": "bios vendor=SeaBIOS version=BOCHS  - 1"
              },
              "GPUs": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "NVIDIA GeForce RTX 3060 Ti"
                }
              },
              "NICs": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "Intel(R) PRO/1000 MT Network Connection (virtual)"
                }
              },
              "disks": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "\\\\.\\PHYSICALDRIVE1 SSD (200GB) IDE [@unknown] vendor=(Standard disk drives) model=QEMU HARDDISK ATA Device serial=QM00002"
                }
              },
              "Hostname": {
                "type": "string",
                "example": "ATLAS-9RSI819UT (OS Microsoft Windows 10 Pro) (arch x86_64) (kernel ver.10.0.19044 Build 19044) (platform ver.10.0.19044 Build 19044)"
              },
              "PublicIP": {
                "type": "string",
                "example": "14.224.xx.xx"
              },
              "PrivateIP": {
                "type": "string",
                "example": "192.168.xx.xx"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "partitions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "opts": {
                      "type": "string",
                      "example": "rw.compress"
                    },
                    "device": {
                      "type": "string",
                      "example": "C:"
                    },
                    "fstype": {
                      "type": "string",
                      "example": "NTFS"
                    },
                    "mountpoint": {
                      "type": "string",
                      "example": "C:"
                    }
                  }
                }
              }
            }
          },
          "media_device": {
            "type": "object",
            "properties": {
              "monitors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "Width": {
                      "type": "integer",
                      "example": 1920
                    },
                    "Height": {
                      "type": "integer",
                      "example": 1080
                    },
                    "Adapter": {
                      "type": "string",
                      "example": "NVIDIA GeForce RTX 3060 Ti"
                    },
                    "pipeline": {
                      "type": "object",
                      "properties": {
                        "Plugin": {
                          "type": "string",
                          "example": "nvcodec"
                        },
                        "PipelineHash": {
                          "type": "string",
                          "example": "Indhc2FwaXNyYyBuYW1lPXNvdXJjZSBkZXZpY2U9XCJcXHswLjAuMS4wMDAwMDAwMFxcfS5cXHsxZjUwNjk3Yy02N2Y2LTQ4NjEtYTk2NS05NmFkMzBhNDlhNDFcXH1cIiAhIGF1ZGlvcmVzYW1wbGUgISBhdWRpby94LXJhdyxyYXRlPTQ4MDAwICEgYXVkaW9jb252ZXJ0ICEgb3B1c2VuYyBuYW1lPWVuY29kZXIgISBhcHBzaW5rIG5hbWU9YXBwc2luayI"
                        },
                        "PipelineString": {
                          "type": "string",
                          "example": "wasapisrc name=source device=\"\\{0.0.1.00000000\\}.\\{1f50697c-67f6-4861-a965-96ad30a49a41\\}\" ! audioresample ! audio/x-raw,rate=48000 ! audioconvert ! opusenc name=encoder ! appsink name=appsink"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "metadata": {
            "type": "array",
            "example": {},
            "items": {
              "type": "string"
            }
          },
          "public_ip": {
            "type": "string",
            "example": "14.224.xx.xx"
          },
          "private_ip": {
            "type": "string",
            "example": "192.168.xx.xx"
          },
          "isActive": {
            "type": "boolean",
            "example": true
          },
          "match_sessions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "worker_session_id": {
                  "type": "integer",
                  "example": 1085
                },
                "worker_profile_id": {
                  "type": "integer",
                  "example": 1085
                },
                "account_session_id": {
                  "type": "string",
                  "example": "8938d380-88af-4178-bb8c-6ab8f1e9cff0"
                },
                "webrtc_config": {
                  "type": "object",
                  "properties": {
                    "iceServers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "urls": {
                            "type": "string",
                            "example": "turn:14.224.148.107:50561"
                          },
                          "username": {
                            "type": "string",
                            "example": "9f827a4854de685d7175"
                          },
                          "credential": {
                            "type": "string",
                            "example": "41943c60c09c5116034f"
                          }
                        }
                      }
                    }
                  }
                },
                "signaling_config": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "URL": {
                          "type": "string",
                          "example": "wss://sing.thinkmay.net/api/handshake/data"
                        },
                        "Path": {
                          "type": "string",
                          "example": "/api/handshake/data"
                        },
                        "GrpcPort": {
                          "type": "integer",
                          "example": 14002
                        }
                      }
                    },
                    "Audio": {
                      "type": "object",
                      "properties": {
                        "URL": {
                          "type": "string",
                          "example": "wss://sing.thinkmay.net/api/handshake/audio"
                        },
                        "Path": {
                          "type": "string",
                          "example": "/api/handshake/audio"
                        },
                        "GrpcPort": {
                          "type": "integer",
                          "example": 14001
                        }
                      }
                    },
                    "Video": {
                      "type": "object",
                      "properties": {
                        "URL": {
                          "type": "string",
                          "example": "wss://sing.thinkmay.net/api/handshake/video"
                        },
                        "Path": {
                          "type": "string",
                          "example": "/api/handshake/video"
                        },
                        "GrpcPort": {
                          "type": "integer",
                          "example": 14000
                        }
                      }
                    },
                    "HostName": {
                      "type": "string",
                      "example": "sing.thinkmay.net"
                    },
                    "ValidationUrl": {
                      "type": "string",
                      "example": "https://avmvymkexjarplbxwlnj.functions.supabase.co/signaling_authenticate"
                    }
                  }
                },
                "media_config": {
                  "type": "object",
                  "properties": {
                    "monitors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Width": {
                            "type": "integer",
                            "example": 1920
                          },
                          "Height": {
                            "type": "integer",
                            "example": 1080
                          },
                          "Adapter": {
                            "type": "string",
                            "example": "NVIDIA GeForce RTX 3060 Ti"
                          },
                          "pipeline": {
                            "type": "object",
                            "properties": {
                              "Plugin": {
                                "type": "string",
                                "example": "nvcodec"
                              },
                              "PipelineHash": {
                                "type": "string",
                                "example": "Indhc2FwaXNyYyBuYW1lPXNvdXJjZSBkZXZpY2U9XCJcXHswLjAuMS4wMDAwMDAwMFxcfS5cXHsxZjUwNjk3Yy02N2Y2LTQ4NjEtYTk2NS05NmFkMzBhNDlhNDFcXH1cIiAhIGF1ZGlvcmVzYW1wbGUgISBhdWRpby94LXJhdyxyYXRlPTQ4MDAwICEgYXVkaW9jb252ZXJ0ICEgb3B1c2VuYyBuYW1lPWVuY29kZXIgISBhcHBzaW5rIG5hbWU9YXBwc2luayI"
                              },
                              "PipelineString": {
                                "type": "string",
                                "example": "wasapisrc name=source device=\"\\{0.0.1.00000000\\}.\\{1f50697c-67f6-4861-a965-96ad30a49a41\\}\" ! audioresample ! audio/x-raw,rate=48000 ! audioconvert ! opusenc name=encoder ! appsink name=appsink"
                              }
                            }
                          },
                          "Framerate": {
                            "type": "integer",
                            "example": 60
                          },
                          "IsPrimary": {
                            "type": "boolean",
                            "example": true
                          },
                          "DeviceName": {
                            "type": "string",
                            "example": "\\\\.\\DISPLAY6"
                          },
                          "MonitorName": {
                            "type": "string",
                            "example": "Linux FHD"
                          },
                          "MonitorHandle": {
                            "type": "integer",
                            "example": 65537
                          }
                        }
                      }
                    },
                    "soundcard": {
                      "type": "object",
                      "properties": {
                        "Api": {
                          "type": "string",
                          "example": "wasapi"
                        },
                        "Name": {
                          "type": "string",
                          "example": "CABLE Output (VB-Audio Virtual Cable)"
                        },
                        "DeviceID": {
                          "type": "string",
                          "example": "{0.0.1.00000000}.{1f50697c-67f6-4861-a965-96ad30a49a41}"
                        },
                        "pipeline": {
                          "type": "object",
                          "properties": {
                            "Plugin": {
                              "type": "string",
                              "example": "wasapi"
                            },
                            "PipelineHash": {
                              "type": "string",
                              "example": "Indhc2FwaXNyYyBuYW1lPXNvdXJjZSBkZXZpY2U9XCJcXHswLjAuMS4wMDAwMDAwMFxcfS5cXHsxZjUwNjk3Yy02N2Y2LTQ4NjEtYTk2NS05NmFkMzBhNDlhNDFcXH1cIiAhIGF1ZGlvcmVzYW1wbGUgISBhdWRpby94LXJhdyxyYXRlPTQ4MDAwICEgYXVkaW9jb252ZXJ0ICEgb3B1c2VuYyBuYW1lPWVuY29kZXIgISBhcHBzaW5rIG5hbWU9YXBwc2luayI="
                            },
                            "PipelneString": {
                              "type": "string",
                              "example": "wasapisrc name=source device=\"\\{0.0.1.00000000\\}.\\{1f50697c-67f6-4861-a965-96ad30a49a41\\}\" ! audioresample ! audio/x-raw,rate=48000 ! audioconvert ! opusenc name=encoder ! appsink name=appsink"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "auth_config": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.xxxxx"
                    }
                  }
                },
                "ended": {
                  "type": "boolean",
                  "example": false
                },
                "start_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "last_check": {
                  "type": "string",
                  "format": "date-time"
                },
                "metadata": {
                  "type": "object",
                  "example": {}
                },
                "url": {
                  "type": "string",
                  "example": "https://remote.thinkmay.net/?ref=ODkzOGQzODAtODhhZi00MTc4LWJiOGMtNmFiOGYxZTljZmYw"
                },
                "session_id": {
                  "type": "integer",
                  "example": 1085
                },
                "isActive": {
                  "type": "boolean",
                  "example": true
                },
                "user_session": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "worker_session_id": {
                        "type": "integer",
                        "example": 1085
                      },
                      "user_session_id": {
                        "type": "integer",
                        "example": 6165
                      },
                      "user_email": {
                        "type": "string",
                        "example": "example@thinkmay.net"
                      },
                      "start_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "last_check": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "example": "ODkzOGQzODAtODhhZi00MTc4LWJiOGMtNmFiOGYxZTljZmYw"
                          }
                        }
                      },
                      "isActive": {
                        "type": "boolean",
                        "example": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}